<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="9474c113554c4230998f2d4d8a920e87" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_9474c113554c4230998f2d4d8a920e87 = echarts.init(
            document.getElementById('9474c113554c4230998f2d4d8a920e87'), 'white', {renderer: 'canvas'});
        var option_9474c113554c4230998f2d4d8a920e87 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 1000,
                "gravity": 0.2,
                "edgeLength": 30,
                "friction": 0.6,
                "layoutAnimation": true
            },
            "label": {
                "show": true,
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u8fde\u82b1\u6e05\u761f",
                    "symbolSize": 0
                },
                {
                    "name": "\u708e\u7acb\u6d88\u80f6\u56ca",
                    "symbolSize": 10
                },
                {
                    "name": "\u5432\u8fbe\u5e15\u80fa\u7247",
                    "symbolSize": 10
                },
                {
                    "name": "\u56db\u5473\u813e\u80c3\u8212\u7247",
                    "symbolSize": 10
                },
                {
                    "name": "\u6a58\u7ea2\u5e72",
                    "symbolSize": 11
                },
                {
                    "name": "\u6842\u679d",
                    "symbolSize": 12
                },
                {
                    "name": "\u4eba\u53c2",
                    "symbolSize": 11
                },
                {
                    "name": "\u82cd\u672f",
                    "symbolSize": 26
                },
                {
                    "name": "\u5fc3\u80ba\u590d\u82cf\u673a",
                    "symbolSize": 1
                },
                {
                    "name": "\u8d85\u667a\u80fd\u5e72\u6d89\u6ce2\u6cbb\u7597\u4eea",
                    "symbolSize": 0
                },
                {
                    "name": "\u80a2\u4f53\u5eb7\u590d\u8fd0\u52a8\u4eea\u5668",
                    "symbolSize": 0
                },
                {
                    "name": "\u7f8e\u56fd\u897f\u5c4b\u667a\u80fd\u5168\u81ea\u52a8\u7535\u52a8\u8f6e\u6905",
                    "symbolSize": 1
                },
                {
                    "name": "\u963f\u83ab\u897f\u6797\u80f6\u56ca",
                    "symbolSize": 0
                },
                {
                    "name": "\u5934\u5b62\u62c9\u5b9a\u80f6\u56ca",
                    "symbolSize": 158
                },
                {
                    "name": "\u611f\u5192\u7075\u9897\u7c92",
                    "symbolSize": 265
                },
                {
                    "name": "\u5e03\u6d1b\u82ac\u7f13\u91ca\u80f6\u56ca",
                    "symbolSize": 50
                },
                {
                    "name": "\u6d4b\u8bd5\u4e00\u76f4\u4e0d\u901a\u8fc7\u3002\u3002",
                    "symbolSize": 0
                }
            ],
            "edgeLabel": {
                "show": false,
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u8fde\u82b1\u6e05\u761f",
                    "target": "0"
                },
                {
                    "source": "\u708e\u7acb\u6d88\u80f6\u56ca",
                    "target": "101"
                },
                {
                    "source": "\u5432\u8fbe\u5e15\u80fa\u7247",
                    "target": "100"
                },
                {
                    "source": "\u56db\u5473\u813e\u80c3\u8212\u7247",
                    "target": "100"
                },
                {
                    "source": "\u6a58\u7ea2\u5e72",
                    "target": "114"
                },
                {
                    "source": "\u6842\u679d",
                    "target": "129"
                },
                {
                    "source": "\u4eba\u53c2",
                    "target": "115"
                },
                {
                    "source": "\u82cd\u672f",
                    "target": "264"
                },
                {
                    "source": "\u5fc3\u80ba\u590d\u82cf\u673a",
                    "target": "12"
                },
                {
                    "source": "\u8d85\u667a\u80fd\u5e72\u6d89\u6ce2\u6cbb\u7597\u4eea",
                    "target": "1"
                },
                {
                    "source": "\u80a2\u4f53\u5eb7\u590d\u8fd0\u52a8\u4eea\u5668",
                    "target": "9"
                },
                {
                    "source": "\u7f8e\u56fd\u897f\u5c4b\u667a\u80fd\u5168\u81ea\u52a8\u7535\u52a8\u8f6e\u6905",
                    "target": "16"
                },
                {
                    "source": "\u963f\u83ab\u897f\u6797\u80f6\u56ca",
                    "target": "0"
                },
                {
                    "source": "\u5934\u5b62\u62c9\u5b9a\u80f6\u56ca",
                    "target": "1588"
                },
                {
                    "source": "\u611f\u5192\u7075\u9897\u7c92",
                    "target": "2658"
                },
                {
                    "source": "\u5e03\u6d1b\u82ac\u7f13\u91ca\u80f6\u56ca",
                    "target": "500"
                },
                {
                    "source": "\u6d4b\u8bd5\u4e00\u76f4\u4e0d\u901a\u8fc7\u3002\u3002",
                    "target": "0"
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5546\u54c1\u540d\u79f0\u4e0e\u9500\u91cf\u5173\u7cfb\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_9474c113554c4230998f2d4d8a920e87.setOption(option_9474c113554c4230998f2d4d8a920e87);
    </script>
</body>
</html>
