{% extends 'base.html' %}
{% load static %}
{% block title %}拾忆医药-首页{% endblock title %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">日常必备</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for type in types %}
			    <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
	                <li><a href="#model05" class="egg">美容祛斑</a></li>
			<li><a href="#model06" class="vegetables">应急药品</a></li>

		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for banner in goods_banners  %}
				    <li><a href="{% url 'goods:detail' banner.sku.id %}"><img src="{{ banner.image.url }}" alt="幻灯片"></a></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for banner in promotion_banners %}
			    <a href="{{ banner.url }}"><img src="{{ banner.image.url }}"></a>
            {% endfor %}
		</div>
	</div>

    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for banner in type.title_banners %}
				    <a href="{% url 'goods:detail' banner.sku.id  %}">{{ banner.sku.name }}</a>
				{% endfor %}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ type.image.url }}"></div>
			<ul class="goods_list fl">
                {% for banner in type.image_banners %}
				<li>
					<h4><a href="{% url 'goods:detail' banner.sku.id  %}">{{ banner.sku.name }}</a></h4>
					<a href="{% url 'goods:detail' banner.sku.id  %}"><img src="{{ banner.sku.image.url }}"></a>
					<div class="prize">¥ {{ banner.sku.price }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
                <div class="list_model">
                <div class="list_title clearfix">
                        <h3 class="fl" id="model04">中药饮片</h3>
                        <div class="subtitle fl">
                                <span>|</span>
                                <a href="#">测试1</a>
                                <a href="#">测试2</a>
                        </div>
                        <a href="#" class="goods_more fr">查看更多 ></a>
                </div>

                <div class="goods_con clearfix">
                        <div class="goods_banner fl"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyd0KAKbRtAACvuv3m3Ok6873029"></div>
                        <ul class="goods_list fl">
                                <li>
                                        <h4><a href="#">商品1</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 48.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品2</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 46.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品3</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 19.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品4</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 25.00</div>
                                </li>
                        </ul>
                </div>
        </div>

            <div class="list_model">
                <div class="list_title clearfix">
                        <h3 class="fl" id="model05">美容祛斑</h3>
                        <div class="subtitle fl">
                                <span>|</span>
                                <a href="#">测试1</a>
                                <a href="#">测试2</a>
                        </div>
                        <a href="#" class="goods_more fr">查看更多 ></a>
                </div>

                <div class="goods_con clearfix">
                        <div class="goods_banner fl"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyb9CAHyB-AAAqVE8z8kM4576276"></div>
                        <ul class="goods_list fl">
                                <li>
                                        <h4><a href="#">商品1</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 48.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品2</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 46.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品3</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 19.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品4</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 25.00</div>
                                </li>
                        </ul>
                </div>
        </div>



	                <div class="list_model">
                <div class="list_title clearfix">
                        <h3 class="fl" id="model06">应急药品</h3>
                        <div class="subtitle fl">
                                <span>|</span>
                                <a href="#">测试1</a>
                                <a href="#">测试2</a>
                        </div>
                        <a href="#" class="goods_more fr">查看更多 ></a>
                </div>

                <div class="goods_con clearfix">
                        <div class="goods_banner fl"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQydhGADZ7xAAA6O0bdXvM0166426"></div>
                        <ul class="goods_list fl">
                                <li>
                                        <h4><a href="#">商品1</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 48.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品2</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 46.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品3</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 19.00</div>
                                </li>
                                <li>
                                        <h4><a href="#">商品4</a></h4>
                                        <a href="#"><img src="http://43.142.179.249:8888/group1/M00/00/00/CgAEBWQyZkqAcnHxAAHOXdvmyYk9438796"></a>
                                        <div class="prize">¥ 25.00</div>
                                </li>
                        </ul>
                </div>
        </div>


{% endblock body %}
