<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sales Analysis</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="d9e9d4a1a9f6434f8ead0688d814d2c8" class="chart-container" style="width:1000px; height:550px; "></div>
    <script>
        var chart_d9e9d4a1a9f6434f8ead0688d814d2c8 = echarts.init(
            document.getElementById('d9e9d4a1a9f6434f8ead0688d814d2c8'), 'white', {renderer: 'canvas'});
        var option_d9e9d4a1a9f6434f8ead0688d814d2c8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u5546\u54c1\u9500\u552e\u6d41\u7a0b",
            "data": [
                {
                    "name": "\u8fde\u82b1\u6e05\u761f",
                    "value": 0
                },
                {
                    "name": "\u708e\u7acb\u6d88\u80f6\u56ca",
                    "value": 101
                },
                {
                    "name": "\u5432\u8fbe\u5e15\u80fa\u7247",
                    "value": 100
                },
                {
                    "name": "\u56db\u5473\u813e\u80c3\u8212\u7247",
                    "value": 100
                },
                {
                    "name": "\u6a58\u7ea2\u5e72",
                    "value": 114
                },
                {
                    "name": "\u6842\u679d",
                    "value": 129
                },
                {
                    "name": "\u4eba\u53c2",
                    "value": 115
                },
                {
                    "name": "\u82cd\u672f",
                    "value": 264
                },
                {
                    "name": "\u5fc3\u80ba\u590d\u82cf\u673a",
                    "value": 12
                },
                {
                    "name": "\u8d85\u667a\u80fd\u5e72\u6d89\u6ce2\u6cbb\u7597\u4eea",
                    "value": 1
                },
                {
                    "name": "\u80a2\u4f53\u5eb7\u590d\u8fd0\u52a8\u4eea\u5668",
                    "value": 9
                },
                {
                    "name": "\u7f8e\u56fd\u897f\u5c4b\u667a\u80fd\u5168\u81ea\u52a8\u7535\u52a8\u8f6e\u6905",
                    "value": 16
                },
                {
                    "name": "\u963f\u83ab\u897f\u6797\u80f6\u56ca",
                    "value": 0
                },
                {
                    "name": "\u5934\u5b62\u62c9\u5b9a\u80f6\u56ca",
                    "value": 1588
                },
                {
                    "name": "\u611f\u5192\u7075\u9897\u7c92",
                    "value": 2658
                },
                {
                    "name": "\u5e03\u6d1b\u82ac\u7f13\u91ca\u80f6\u56ca",
                    "value": 500
                },
                {
                    "name": "\u6d4b\u8bd5\u4e00\u76f4\u4e0d\u901a\u8fc7\u3002\u3002",
                    "value": 0
                }
            ],
            "sort": "none",
            "gap": 0,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8,
                "fontSize": 12,
                "fontStyle": "normal",
                "formatter": "{b}\uff1a{c}"
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "formatter": "{b}\uff1a<br />\u9500\u91cf\uff1a{c}",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "itemStyle": {
                "borderColor": "#fff",
                "borderWidth": 1
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8fde\u82b1\u6e05\u761f",
                "\u7f8e\u56fd\u897f\u5c4b\u667a\u80fd\u5168\u81ea\u52a8\u7535\u52a8\u8f6e\u6905",
                "\u963f\u83ab\u897f\u6797\u80f6\u56ca",
                "\u6842\u679d",
                "\u611f\u5192\u7075\u9897\u7c92",
                "\u6d4b\u8bd5\u4e00\u76f4\u4e0d\u901a\u8fc7\u3002\u3002",
                "\u5fc3\u80ba\u590d\u82cf\u673a",
                "\u80a2\u4f53\u5eb7\u590d\u8fd0\u52a8\u4eea\u5668",
                "\u6a58\u7ea2\u5e72",
                "\u82cd\u672f",
                "\u5e03\u6d1b\u82ac\u7f13\u91ca\u80f6\u56ca",
                "\u5934\u5b62\u62c9\u5b9a\u80f6\u56ca",
                "\u708e\u7acb\u6d88\u80f6\u56ca",
                "\u56db\u5473\u813e\u80c3\u8212\u7247",
                "\u8d85\u667a\u80fd\u5e72\u6d89\u6ce2\u6cbb\u7597\u4eea",
                "\u5432\u8fbe\u5e15\u80fa\u7247",
                "\u4eba\u53c2"
            ],
            "selected": {},
            "show": true,
            "left": "1%",
            "top": "bottom",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 15,
            "itemWidth": 35,
            "itemHeight": 20,
            "textStyle": {
                "color": "#293c55",
                "fontSize": 12
            },
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "formatter": "{b}\uff1a<br />\u9500\u91cf\uff1a{c}",
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5546\u54c1\u5b9e\u65f6\u9500\u91cf\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "left": "center",
            "bottom": "20",
            "padding": [
                25,
                0
            ],
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "right",
        "top": "8%",
        "feature": {
            "saveAsImage": {
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "type": "png"
            },
            "restore": {
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false
            }
        }
    }
};
        chart_d9e9d4a1a9f6434f8ead0688d814d2c8.setOption(option_d9e9d4a1a9f6434f8ead0688d814d2c8);
    </script>
</body>
</html>
